<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.jboss.tools.quarkus.core.launchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="JAVA_HOME" value="D:\JAVA\OpenJDK\jdk-13.0.2"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aforo255-account"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="D:\JAVA\Eclipse\Quarkus\aforo255-account\mvnw.cmd"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="compile quarkus:dev"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="D:\JAVA\Eclipse\Quarkus\aforo255-account"/>
    <stringAttribute key="process_factory_id" value="org.jboss.tools.quarkus.core.processFactory"/>
</launchConfiguration>
